@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');

@keyframes move-bg {
    0% { background-position: 0px 0px; }
    100% { background-position: 0px 300px; }
}

body {
    background-color: #222;
    background-image: url("background.png");
    /* background-repeat: no-repeat; */
    background-size: 300px;
    animation: move-bg 1s steps(500, start) infinite;
    /* background: linear-gradient(69deg, #222 0%, rgba(148, 148, 255, 1) 69%, rgba(0, 212, 255, 1) 100%); */
    background-attachment: fixed;
    color: white;
    font-family: "Pixelify Sans";
    margin: 0;
}

a {
    color: #28c9ff;
    text-decoration: none;
    transition: 180ms;
}
a:hover {
    background: #333;
    color: #fff !important;
    text-decoration: wavy underline;
}

p,
span {
    line-height: 1.8em;
}

nav {
    padding: 20px;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    /* position: fixed; */
}

nav a {
    color: #fff !important;
    margin: 15px;
    text-decoration: none;
    letter-spacing: 3px;
    transition: 180ms;
}

nav a:hover {
    letter-spacing: 5px;
    font-weight: bold;
}

section {
    padding: 69px;
}

td {
    vertical-align: top;
    padding: 20px;
}

.light {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
}

button {
    padding: 22px;
    font-family: "Pixelify Sans";
    font-size: 17px;
    cursor: pointer;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    margin: 3px;
}

h1 {
    font-size: 69px;
    font-weight: 700;
    letter-spacing: 7px;
    /* font-family: "Rubik Pixels"; */
}

h2,
h3,
h4,
h5 {
    letter-spacing: 3px;
}

.itch {
    background-color: #864040;
}

.games {
    image-rendering: optimizeSpeed !important;
    width: calc(100% / 3 - 3px);
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    backdrop-filter: blur(2px);
    margin: 0px;
    vertical-align: top;
    display: inline-block;
    padding: 50px;
    box-sizing: border-box;
    height: 450px;
}
.announcement {
    background: #ffd559;
    border: 3px solid #ff9900;
    color: #333;
    padding: 15px;
    text-align: center;
}
.gamejam {
    background: rgba(0, 0, 0, 0.1);
    padding: 20px;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 35px;
        letter-spacing: 5px;
    }

    section {
        padding: 40px;
    }

    td {
        display: block;
    }

    .games {
        width: 100%;
        height: fit-content;
    }
}